<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Inside Earth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/aframe-animation-component/dist/aframe-animation-component.min.js"></script>
    <script src="https://unpkg.com/aframe-look-at-component@0.5.1/dist/aframe-look-at-component.min.js"></script>
    <script src="main.js"></script>
    <script src="https://unpkg.com/aframe-event-set-component@^4.0.0/dist/aframe-event-set-component.min.js"></script> 
    <script src="https://cdn.rawgit.com/donmccurdy/aframe-extras/v4.1.1/dist/aframe-extras.min.js"></script>
    <script src="https://unpkg.com/@editvr/aframe-dialog-popup-component@1.7.2/dist/aframe-dialog-popup-component.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>


    <style scoped>
        @import "compass/css3";

    body {
      margin: 0;
      background:url(https://cdn.rawgit.com/rinahafizhah/pi-webvr/e9d180fc/images/bg.jpg);
      background-size:cover;
      background-position:center center;
      background-attachment:fixed;
    }

  #app {
      margin:0px; padding:0px;
      position: fixed;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }

    *, *:after, *:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    header{
      z-index: 1;
      position:fixed; 
      width:100%; 
      height:60px; 
      background:rgba(0,0,0,0.1);
    }

    header a{
      color:white;
      background:rgba(0,0,0,0.1); 
      display:inline-block; 
      padding:0px 30px; 
      height:60px;
      line-height:60px; 
      text-align:center;
      font-family: 'Roboto Slab', serif; 
      text-decoration:none;
      text-transform:uppercase; 
      letter-spacing:2px; 
      font-weight:700;
    }
    #hero1{
    /* background:url(https://cdn.rawgit.com/rinahafizhah/pi-webvr/e9d180fc/images/bg.jpg);
      background-size:cover;
      background-position:center center;
      background-attachment:fixed; */
    }
    #hero2{background: url(https://cdn.rawgit.com/rinahafizhah/pi-webvr/e9d180fc/images/flame2.jpg);
      background-size:cover;
      background-position:center center;
      background-attachment:fixed;
    }
    .hero, .content{
      text-align:center; 
      position:relative;
      width: 100%;
    }

    .inner{
      min-height:600px;
      position: relative;
    }

    .hero .inner{
      background: rgba(0,0,0,0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}


    .copy{
      position:absolute; 
      top:50%; 
      height:10em; 
      margin-top:-5em; 
      width:100%;
    }

    .hero h1, .hero p{ 
      color:#fff;
    }

    .content h1, .content p{
      color:#333;
    }

    h1{
      margin:0px;
      font-family: 'Roboto Slab', serif;
      font-weight:400;
      font-size:32px;
      padding:0px 20px;
    }

    p{
      font-family: 'Noto Sans', sans-serif; 
      font-size:14px;
      padding:0px 20px;
    }  
  </style>
</head>

<body>
    <div id="app">
        <header style="background: #222">
            <router-link to="/" exact>About</router-link>
            <router-link to="/home">Home</router-link>
            <router-link to="/projects">Project</router-link>
        </header>
        <transition name="page" mode="out-in">
            <router-view  style="margin-top: 60px"></router-view>
        </transition>
    </div>

    <template id="about">
        <div>
            <section id="hero1" class="hero">
                <div class="inner">
                    <div class="copy">
                        <h1>Inside Earth</h1>
                        <p>Permukaan Lapisan Bumi 3D di Browser-mu.</p>
                    </div>
                </div>
                <div class="inner">
                    <div class="copy">
                        <h1>Sebuah visualisasi 3D lapisan Bumi yang menggunakan teknologi WebVR. </h1>
                        <p>Menghadirkan Virtual Reality di Web Browser Anda.</p>
                    </div>
                </div>
                <div class="inner">
                    <div class="copy">
                        <h1>Panduan</h1>
                        <p>1. Untuk melihat secara 360 derajat, arahkan dan gerakkan kursor secara 360 derajat atau klik icon berikut <img src="images/vrenter.png">
                            <br>2. Untuk menampilkan panel info, arahkan kursor ke titik hitam seperti berikut <img src="images/circle.png">, klik dan akan muncul panel yang berisi informasi mengenai lapisan tersebut.</br> </p>
                    </div>
                </div>
                <div class="inner">
                    <div class="copy">
                        <h1>Dibuat oleh : Rina Hafizhah Utami</h1>
                        <p>Universitas Gunadarma</p>
                    </div>
                </div>
            </section>
        </div>
    </template>

    <template id="home-page">
        <div>
            <a-scene image-grid>
                <a-entity id="main-camera-wrapper" position="0.12 4.14 4.93" rotation="0 -0.35 0"
                animation="property: position; easing: easeOutQuad; startEvents: imageClicked;">
                    <a-camera id="main-camera" user-height="0" visible="true" wasd-controls="enabled: false;"
                                cursor="rayOrigin: mouse;" raycaster="objects: .clickable">
                        <a-cursor id="fuse-cursor" fuse="true" geometry="radiusInner: 0.02; radiusOuter: 0.03; thetaLength: 360; thetaStart: 90;"
                                color="#232323" opacity="1" repeat="1 1" shader="flat" position="0 0 -1" objects=".clickable"
                                rotation="0 0 0" scale="1 1 1" visible="true"></a-cursor>
                        <a-ring id="fuse-progress" radius-inner="0.02" radius-outer="0.03" theta-length="360"
                                theta-start="90" color="#FFE066" opacity="0" repeat="1 1" shader="flat" position="0 0 -0.999"
                                rotation="0 0 0" scale="1 1 1" visible="true" class="clickable" animation="delay: 0; dir: normal; dur: 1500; easing: linear; loop: 0; property: geometry.thetaLength; startEvents: fusing; to: 0; from: 360;"
                                animation__1="delay: 0; dir: normal; dur: 500; easing: linear; loop: 0; property: opacity; startEvents: fusing; to: 1; from: 0;"></a-ring>
                    </a-camera>
                </a-entity>
                
                <a-assets>
                    <img id="start-bg" src="images/page360.jpg">
                    <img id="left-tile-image" src="images/crust.jpg">
                    <img id="center-tile-image" src="images/mantle.jpg">
                    <img id="right-tile-image" src="images/lava.jpg">
                    <img id="kembali" src="images/kembali.png">
                    <img id="info" src="images/info.png">
                    <img id="close" src="images/close.png">
                    <video id="vid_intro" autoplay loop="true" src="video/intro.mp4"></video>
                   
                    <a-mixin id="overlay-fade-in" animation="property: opacity; dir: normal; dur: 500; easing: easeOutQuad; loop: false; from:0; to: .75; startEvents: clickDown;"></a-mixin>
                </a-assets>

                <a-video class="clickable" src="#vid_intro" width="16" height="9" shader="flat" side="front" position="-20 2.20 -2.00" rotation="0 0 0"></a-video>

                <a-sphere id="main-bg" radius="100" position="0 0 0" rotation="0 90 0" src="#start-bg" color="#333333" material="side: double;" ></a-sphere>

                <a-text id="headline" position="0.00 4.75 -0.3" rotation="0 0 0" scale="2 2 2"
                value="Lapisan Bumi" font="https://cdn.glitch.com/13258c51-0acc-4d99-ab9f-85f8eec172c6%2FOswald-Bold.fnt?1506384504220" font-image="https://cdn.glitch.com/13258c51-0acc-4d99-ab9f-85f8eec172c6%2FOswald-Bold.png?1506384504242" align="center" opacity="1"
                color="#FFE066" wrap-count="36" letter-spacing="16.20" line-height="64" width="4.00"
                height="0" side="double" anchor="center" visible="true"></a-text>

                <a-image id="mantel" class="clickable" position="0.00 2.20 -2.00" rotation="0 0 0" scale="1 1 1"
                width="4" height="3" color="#ffffff" opacity="1" shader="flat" side="double" src="#center-tile-image"
                metalness="0.5" roughness="1" repeat="1 1" visible="true"></a-image>

                <a-text id="mantel-caption" position="0.00 1.90 -0.30" rotation="0 0 0" scale="1 1 1"
                value="MANTEL BUMI" font="https://cdn.glitch.com/13258c51-0acc-4d99-ab9f-85f8eec172c6%2FOswald-Bold.fnt?1506384504220" font-image="https://cdn.glitch.com/13258c51-0acc-4d99-ab9f-85f8eec172c6%2FOswald-Bold.png?1506384504242" align="center" opacity="1"
                color="#232323" wrap-count="36" letter-spacing="16.20" line-height="64" width="4.00"
                height="0" side="double" anchor="center" visible="true"></a-text>

                <a-image id="kerak" class="clickable" position="-5.40 2.20 -2.00" rotation="0.00 0 0.00"
                scale="1 1 1" width="3" height="4" shader="flat" side="double"
                src="#left-tile-image" metalness="0.5" roughness="1" repeat="1 1" visible="true"></a-image>

                <a-text id="kerak-caption" position="-5.4 1.90 -0.30" rotation="0 0 0" scale="1 1 1"
                value="KERAK BUMI" font="https://cdn.glitch.com/13258c51-0acc-4d99-ab9f-85f8eec172c6%2FOswald-Bold.fnt?1506384504220" font-image="https://cdn.glitch.com/13258c51-0acc-4d99-ab9f-85f8eec172c6%2FOswald-Bold.png?1506384504242" align="center" opacity="1" color="#232323"
                wrap-count="36" letter-spacing="16.20" line-height="64" width="4.00" height="0" side="double"
                anchor="center" visible="true"></a-text>
                
                <a-image id="inti" class="clickable" position="5.50 1.51 -2.00" rotation="0 0 0" scale="1 1 1"
                width="3" height="4" color="#ffffff" opacity="1" shader="flat" side="double" src="#right-tile-image"
                metalness="0.5" roughness="1" repeat="1 1" visible="true"></a-image>
                
                <a-text id="inti-caption" position="5.3 1.90 -0.30" rotation="0 0 0"
                scale="1 1 1" value="INTI BUMI" font="https://cdn.glitch.com/13258c51-0acc-4d99-ab9f-85f8eec172c6%2FOswald-Bold.fnt?1506384504220" font-image="https://cdn.glitch.com/13258c51-0acc-4d99-ab9f-85f8eec172c6%2FOswald-Bold.png?1506384504242" align="center"
                opacity="1" color="#232323" wrap-count="36" letter-spacing="16.20" line-height="64"
                width="4.00" height="0" side="double" anchor="center" visible="true"></a-text>
            </a-scene>
        </div>
    </template>

    <template id="projects-page">
        <div>
            <v-container fill-height>
                <v-layout align-center justify-center>
                    <v-btn outline color="#ffffff" @click="showScene('crust')">Tampilkan Kerak Bumi</v-btn>
                    <v-btn outline color="#ffffff" @click="showScene('mantle')">Tampilkan Mantel Bumi</v-btn>
                    <v-btn outline color="#ffffff" @click="showScene('core')">Tampilkan Inti Bumi</v-btn>
                </v-layout>
            </v-container>

            <a-scene v-if="show === 'crust'">
                <a-assets>
                    <img id="bg_crust" src="images/skycrust.jpg">
                    <img id="kembali" src="images/kembali.png">
                    <a-asset-item id="crust" src="model/terrain_001/scene.gltf"></a-asset-item>
                </a-assets>

                <a-gltf-model src="#crust"></a-gltf-model>
                <a-sky src="#bg_crust"></a-sky>
            
                <a-camera id="camera" look-controls="enabled: true" position="0 1.6 0" wasd-controls-enabled="false" cursor="rayOrigin: mouse"></a-camera>

                <a-entity id="dialog" position="0 1.8 -2" dialog-popup="
                openIconImage: images/info.jpg;
                closeIconImage: images/close.jpg;
                dialogBoxHeight: 2.5;
                title: Info!;
                body: Kerak Bumi adalah lapisan terluar Bumi yang terbagi menjadi 2 kategori, yaitu kerak samudera dan kerak benua. Kita akan menjelajahi kerak benua.;">
                </a-entity>

                <a-entity id="dialog" position="3 1.8 -2" dialog-popup="
                openIconImage: images/info.jpg;
                closeIconImage: images/close.jpg;
                dialogBoxHeight: 2.5;
                title: Info!;
                body: Kerak benua mempunyai ketebalan sekitar 20-70 km. Batuan penyusun kerak benua yang utama adalah granit, yang tidak sepadat batuan basalt.;">
                </a-entity>

                <a-entity id="dialog" position="-3 1.8 -2" rotation="0 45 0" dialog-popup="
                openIconImage: images/info.jpg;
                closeIconImage: images/close.jpg;
                dialogBoxHeight: 2.5;
                title: Info!;
                body: Temperatur Kerak Bumi sekitar 200°C - 400°C. Temperatur meningkat 30°C setiap km. Pada batas terbawahnya mencapai 1.100°C.;">
                </a-entity>

                <a-entity id="dialog" position="-4 1.8 -1" rotation="0 90 0" dialog-popup="
                openIconImage: images/info.jpg;
                closeIconImage: images/close.jpg;
                dialogBoxHeight: 2.5;
                title: Info!;
                body: Unsur-unsur kimia utama pembentuk kerak bumi : Oksigen (O) (46,6%), Silikon (Si) (27,7%), Aluminium (Al) (8,1%), Besi (Fe) (5,0%), Kalsium (Ca) (3,6%), Natrium (Na) (2,8%), Kalium (K) (2,6%), Magnesium (Mg) (2,1%).;">
                </a-entity>

                <a-entity @click="backToMainMenu">
                    <a-image id="kembali" src="#kembali" scale="1 0.5 0.5" rotation="0 45 0" position="-4 3 -3" opacity="1"
                    event-set__enter="_event: mouseenter; _target: #projects-page; visible: true"
                    event-set__leave="_event: mouseleave; _target: #projects-page; visible: false">   
                    </a-image>
                </a-entity>
            </a-scene>

            <a-scene v-if="show === 'mantle'">
                <a-assets>
                    <img id="bg_mantle" src="images/crust.jpg">
                    <img id="kembali" src="images/kembali.png">
                    <a-asset-item id="mantle" src="model/grand_canyon/scene.gltf"></a-asset-item>
                </a-assets>

                <a-gltf-model src="#mantle" position="25.349 -1.084 0" scale="2 2 2"></a-gltf-model>
                <a-sky src="#bg_mantle"></a-sky>

                <a-camera id="camera" look-controls="enabled: true" position="0 1.6 0" wasd-controls-enabled="false" cursor="rayOrigin: mouse"></a-camera>
                
                <a-entity id="dialog" position="0.5 1.5 -2" dialog-popup="
                openIconImage: images/info.jpg;
                closeIconImage: images/close.jpg;
                dialogBoxHeight: 2.5;
                title: Info!;
                body: Mantel Bumi adalah lapisan yang menyelubungi inti Bumi & merupakan bagian terbesar dari bagian Bumi sekitar 2/3 massa Bumi.;">
                </a-entity>
                
                <a-entity id="dialog" position="3 1.5 -2" dialog-popup="
                openIconImage: images/info.jpg;
                closeIconImage: images/close.jpg;
                dialogBoxHeight: 2.5;
                title: Info!;
                body: Kedalaman mantel bumi sekitar 2.900 km. Mantel atas Bumi dapat dibagi menjadi dua, astenosfer dengan kedalaman 20 km dan litosfer dengan kedalaman antara 50-120 km.;">
                </a-entity>

                <a-entity id="dialog" position="-2 1.7 -2" dialog-popup="
                openIconImage: images/info.jpg;
                closeIconImage: images/close.jpg;
                dialogBoxHeight: 2.5;
                title: Info!;
                body: Mantel terdiri dari batu peridotit yang kaya zat besi dan magnesium. Batu menjadi lebih padat semakin mendekati inti Bumi.;">
                </a-entity>

                <a-entity id="dialog" position="-3.5 1.5 -1" dialog-popup="
                openIconImage: images/info.jpg;
                closeIconImage: images/close.jpg;
                dialogBoxHeight: 2.5;
                title: Info!;
                body: Temperatur mantel bumi yang berbatasan dengan kerak sekitar 500-900°C, sedangkan di dekat inti mencapai 4000°C.;">
                </a-entity>

                <a-entity @click="backToMainMenu">
                    <a-image id="kembali" src="#kembali" scale="1 0.5 0.5" rotation="0 45 0" position="-3.13 0.84 -2.55" opacity="1">
                        <a-event name="mouseenter" src="#kembali" scale="1 0.5 0.5"></a-event>
                        <a-event name="mouseleave" src="#kembali" scale="1 0.5 0.5"></a-event>
                    </a-image>
                </a-entity>
            </a-scene>

            <a-scene v-if="show === 'core'">
                <a-assets>
                    <img id="bg_core" src="images/lavacloud.jpg">
                    <img id="kembali" src="images/kembali.png">
                </a-assets>

                <a-ocean rotation="-90 0 0" color="#cc4422" depth="100" width="100" density="20" opacity="0.8" metalness="0" roughness="1" speed="4"></a-ocean>
                <a-sky src="#bg_core"></a-sky>

                <a-camera id="camera" look-controls="enabled: true" position="0 1.6 0" wasd-controls-enabled="false" cursor="rayOrigin: mouse"></a-camera>

                <a-entity id="dialog" position="0 1.5 -2" dialog-popup="
                openIconImage: images/info.jpg;
                closeIconImage: images/close.jpg;
                dialogBoxHeight: 2.5;
                title: Info!;
                body: Inti Bumi merupakan lapisan terdalam Bumi. Terletak mulai kedalaman 2900 km. Inti Bumi dapat dibagi menjadi 2, inti bumi bagian luar dan bagian dalam.;">
                </a-entity>

                <a-entity id="dialog" position="-3 1.5 -2" rotation="0 90 0" dialog-popup="
                openIconImage: images/info.jpg;
                closeIconImage: images/close.jpg;
                dialogBoxHeight: 2.5;
                title: Info!;
                body: Inti bumi bagian luar tersusun dari material besi cair, sedangkan inti dalam Bumi terdiri dari campuran besi - nikel yang berbentuk bola padat.;">
                </a-entity>

                <a-entity id="dialog" position="-2.5 1.5 -2" dialog-popup="
                openIconImage: images/info.jpg;
                closeIconImage: images/close.jpg;
                dialogBoxHeight: 2.5;
                title: Info!;
                body: Suhu pada inti dalam Bumi diperkirakan sama dengan suhu permukaan Matahari, sekitar 5.700 Kelvin (5.430°C).;">
                </a-entity>
                
                <a-entity @click="backToMainMenu">
                    <a-image id="kembali" src="#kembali" scale="1 0.5 0.5" rotation="0 45 0" position="-4 0.64 -3" opacity="1">
                        <a-event name="mouseenter" src="#kembali" scale="1 0.5 0.5"></a-event>
                        <a-event name="mouseleave" src="#kembali" scale="1 0.5 0.5"></a-event>
                    </a-image>
                </a-entity>
            </a-scene>
            <hr>
        </div>
    </template>


    <script type="text/javascript">
        Vue.use(VueRouter)

        Vue.directive('scroll', {
            inserted: function(el, binding) {
                let f = function(evt) {
                    if (binding.value(evt, el)) {
                        window.removeEventListener('scroll', f)
                    }
                }
                window.addEventListener('scroll', f)
            }
        })

        const AboutPage = Vue.component('about', {
            template: '#about'
        })

        const HomePage = Vue.component('home-page', {
            template: '#home-page'
        })

        const ProjectPage = Vue.component('projects-page', {
            template: '#projects-page',
            data: function() {
                return {
                    show: ''
                }
            },
            methods: {
                showScene(sceneName) {
                    this.show = sceneName
                },
                navigate() {
                    router.go(-1);
                },
                backToMainMenu() {
                    this.show = '';
                },
            },
            mounted() {
                console.log('param na', this.$route)
                this.show = this.$route.params.name
            }
        })

        const routes = [{
                path: '/',
                name: 'about',
                component: AboutPage
            },
            {
                path: '/home',
                name: 'home',
                component: HomePage
            },
            {
                path: '/projects',
                name: 'projects',
                component: ProjectPage
            }
        ]

        const router = new VueRouter({

            routes,
            scrollBehavior(to, from, savedPosition) {
                if (savedPosition) {
                    return savedPosition
                } else {
                    return {
                        x: 0,
                        y: 0
                    }
                }
            }

        })

        Vue.config.ignoredElements = [
            'a-scene',
            'a-entity',
            'a-camera',
            'a-box',
            'a-cursor',
            'a-assets',
            'a-mixin',
            'a-sphere',
            'a-plane',
            'a-text',
            'a-image',
            'a-gltf-model',
            'a-sky',
            'a-animation',
            'a-event',
            'a-asset-item',
        ]

        var app = new Vue({
            el: '#app',
            router,
            data: {
                scrollPosition: 0,
            },
            methods: {
                handleScroll: function(e) {
                    var currentScrollPosition = e.srcElement.scrollTop;
                    if (currentScrollPosition > this.scrollPosition) {
                        console.log("Scrolling down");
                    }
                    this.scrollPosition = currentScrollPosition;
                }
            }
        }).$mount(app);
        
        AFRAME.registerComponent('image-grid', {
        schema: {},
        init: function () {
            var fuse = document.querySelector('#fuse-cursor');
            var fuseProgress = document.querySelector('#fuse-progress');
            var camera = document.querySelector('#main-camera-wrapper');
            var images = document.querySelectorAll('a-image');
            var videos = document.querySelectorAll('a-video');
            var CAMERA_Z = 2.7;

            fuse.addEventListener('fusing', function (e) {
                fuseProgress.emit('fusing');
            });

            images.forEach(function(image) {
            image.setAttribute('look-at', '[camera]');

            image.addEventListener('click', function(e) {
                var position = this.getAttribute('position')
                camera.setAttribute('animation', {
                to: {x: position.x, y: position.y, z: CAMERA_Z}
                })
                camera.emit('imageClicked')
            })
            })

            videos.forEach(function(video) {
            video.setAttribute('look-at', '[camera]');

            video.addEventListener('click', function(e) {
                var position = this.getAttribute('position')
                camera.setAttribute('animation', {
                to: {x: position.x, y: position.y, z: CAMERA_Z}
                })
                camera.emit('imageClicked')
            })
            })
        }
        });
    </script>
</body>

</html>